* {
	font-family: "Trebuchet MS","Helvetica","Arial","sans-serif"; }

.bg-gray {
	background: #EEE; }
.bg-white {
	background: #FFF; }

.button.orange,
button.orange,
input[type="submit"].orange,
input[type="reset"].orange,
input[type="button"].orange {
	border-color: #F8A10C;
	color: #F8A10C; }
.button.orange:hover,
button.orange:hover,
input[type="submit"].orange:hover,
input[type="reset"].orange:hover,
input[type="button"].orange:hover,
.button.orange:focus,
button.orange:focus,
input[type="submit"].orange:focus,
input[type="reset"].orange:focus,
input[type="button"].orange:focus {
	border-color: #F75C03;
	color: #F75C03; }

.header-shadow {
  width: 100%;
  height: 5.5rem;
  position: fixed;
  box-shadow: 0 .5rem 0 0 rgba(0,0,0,0.2);
}

header {
	position: fixed;
	z-index: 3;
	box-shadow: 0 .5rem 0 0 rgba(0,0,0,0.2);
}

header a {
	height: 5rem;
	box-sizing: border-box;
	display: inline-block;
	color: black;
	line-height: 5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

header a:hover {
	color: #F75C03;
	border-bottom: .5rem solid #F75C03; }

content {
	position: absolute;
	margin-top: 7rem;
}

#errors {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	position: fixed;
	width: 35rem;
	right: 1.5rem;
	top: 7rem;
	z-index: 4;
}

#errors div {
	background: white;
	box-shadow: 1rem 1rem 0 0 rgba(0,0,0,0.2);
}

#errors div:hover {
	cursor: pointer;
}

#errors .fa {
	content: "\f00d";
	padding-right: .7rem;
	font-size: 2rem;
	line-height: 3rem;
}

#errors div:hover .fa-times {
	color: #F75C03;
}

#errors div:active {
	position: relative;
	top: .3rem;
	box-shadow: .7rem .7rem 0 0 rgba(0,0,0,0.2);
}

#errors h1 {
	background: #F55D3E;
	font-size: 2.5rem;
	padding: .5rem;
	padding-left: 1rem;
	color: white;
	margin-bottom: 0;
}

#errors p {
	background: #ffe9e5;
	padding: 1rem;
}

.card {
	background: white;
	padding: 3rem;
	margin: 0 auto;
	box-shadow: .5rem .5rem 0 0 rgba(0,0,0,0.2);
}

/* ENTREPRENEURS */
.entrepreneur {
	margin-top: 3rem;
}

.entrepreneur .pic {
	padding: 1rem;
	min-width: 30rem;
	height: 30rem;
	margin-right: 1rem;
}

.entrepreneur img {
	width: 100%;
	height: auto;
}

.entrepreneur h1 {
	background: #f8a10d;
	font-size: 3.0rem;
	padding: 1rem;
	color: white;
}

.entrepreneur p {
	padding: 2rem;
}

.entrepreneur .description {
	padding: 0;
	padding-top: 2rem;
	height: 20rem;
}

.buttons {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.card-button:hover {
	cursor: pointer;
}

.card-button:active {
	position: relative;
	top: .3rem;
	box-shadow: .2rem .2rem 0 0 rgba(0,0,0,0.2);
}

.entrepreneur .invest {
	color: white;
	background: #3a9600;
	padding: 1rem;
	text-align: center;
	margin-right: 1rem;
}

.entrepreneur .invest:hover {
	background: #4bbd03;
}

.entrepreneur .learn-more:hover {
	background: #707070;
}

.entrepreneur .learn-more {
	color: white;
	background: #464646;
	padding: 1rem;
	text-align: center;
	width: 20rem;
}

.entrepreneur .meter {
	padding: .5rem;
	height: 2.5rem;
}

.entrepreneur .fill {
	display: inline-block;
	background: #3a9600;
	position: relative;
	height: 2.5rem;
	width: 75%;
}

.entrepreneur .status {
	color: white;
	position: absolute;
	right: .5rem;
}

