* {
	font-family: "Trebuchet MS","Helvetica","Arial","sans-serif"; }

.bg-gray {
	background: #EEE; }
.bg-white {
	background: #FFF; }

.button.orange,
button.orange,
input[type="submit"].orange,
input[type="reset"].orange,
input[type="button"].orange {
	border-color: #F8A10C;
	color: #F8A10C; }
.button.orange:hover,
button.orange:hover,
input[type="submit"].orange:hover,
input[type="reset"].orange:hover,
input[type="button"].orange:hover,
.button.orange:focus,
button.orange:focus,
input[type="submit"].orange:focus,
input[type="reset"].orange:focus,
input[type="button"].orange:focus {
	border-color: #F75C03;
	color: #F75C03; }

header {
	z-index: 2;
	position: fixed;
	box-shadow: 0 1rem 0 0 rgba(0,0,0,0.2);
}

header a {
	height: 5rem;
	box-sizing: border-box;
	display: inline-block;
	color: black;
	line-height: 5rem;
	margin-left: 2rem;
	margin-right: 2rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

header a:hover {
	color: #F75C03;
	border-bottom: .5rem solid #F75C03; }

content {
	position: absolute;
	margin-top: 9rem;
}

#errors {
	z-index: 4;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none; 
	position: fixed;
	width: 35rem;
	right: 1.5rem;
	top: 7rem;
}

#errors div {
	background: white;
	box-shadow: 1rem 1rem 0 0 rgba(0,0,0,0.2);
}

#errors div:hover {
	cursor: pointer;
}

#errors .fa {
	content: "\f00d";
	padding-right: .7rem;
	font-size: 2rem;
	line-height: 3rem;
}

#errors div:hover .fa-times {
	color: #F75C03;
}

#errors h1 {
	background: #F55D3E;
	font-size: 2.5rem;
	padding: .5rem;
	padding-left: 1rem;
	color: white;
	margin-bottom: 0;
}

#errors p {
	background: #ffe9e5;
	padding: 1rem;
}

.card {
	background: white;
	padding: 3rem;
	margin: 0 auto;
	box-shadow: .5rem .5rem 0 0 rgba(0,0,0,0.2);
}

.shadow {
	box-shadow: .5rem .5rem 0 0 rgba(0,0,0,0.2);
}

.shadow:after {
	content: "";
	box-shadow: .5rem .5rem 0 0 rgba(0,0,0,0.2);
}